.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #1f262b;
  box-shadow: 0px 0px 14px 0px rgba(255, 203, 23, 0.1);

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
