@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@import "vendor";
@import "mixins";
@import "fonts";
@import "vars";
@import "global";

@import "./components/header";
@import "./components/home";
@import "./components/movie-detail";
@import "./components/search-page";
@import "./components/footer";
